<div class="add">
Enter new joke:
    <form action="/article" method="post">
      <br>Joke:<br>
      <input type="text" name="text">
      <br>Category:<br>
      <input type="text" name="category">
      <br>
      <input type="submit" value="Create!">
    </form>
</div>
